/*! General */
#principal-header{
  height: 80px;
}

.main-layout{
  height: calc(100vh - 80px);
}

 a{
  color: currentColor;
  text-decoration: none;
}

.bg-pill{
  background-color: #165BBA;
}

/*! Header */
.logo{
  height: 50px;
}

.big-logo{
  max-width: 100px;
}

#principal-header .form-control{
  background-color: lightgray;
}

#principal-header ::placeholder{
  color: black;
}

/*! Main Navbar */
.main-navbar{
  width: 80px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
}

.main-navbar a:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 12px 12px;
  transition: background-color 500ms;
}

/*! Main */
#main-header{
  /* height: 150px; */
  background-color: #1B72E8;
}

#main-header .badge{
  font-size: 0.7rem;
  border-radius: 20px;
}

#main-header .offcanvas{
  width: 100%;
}

/*? Table Card */
.code-icon{
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #F26551;
  color: white;
  border-radius: 50%;
}

/*! Responsive */
/** Laptop */
@media screen and (min-width: 1200px){
  /*? Main Navbar */
  .main-navbar{
    width: 150px;
  }

  #main-header .offcanvas{
    width: 50%;
  }
  
}
