/*! General */
.principal-header{
  height: 80px;
}

.main-layout{
  height: calc(100vh - 80px);
}

.main-navbar{
  width: 100px;
}

/*! Header */
.small-logo{
  height: 50px;
}

/*! Main */
.main-header{
  height: 150px;
  background-color: #1B72E8;
}

/*TODO DEBUG */
nav{
  background-color: red;
}

main{
  background-color: aqua;
}


/*! Responsive */
/** Laptop */
@media screen and (min-width: 1200px){
  /*? Main Navbar */
  .main-navbar{
    width: 150px;
  }
  
}